# EDA on Light Training, Time of Year(Covid Shutdown), Water Temperature

In [1]:
#Light Training began on 2/15/18
#3/14/20 - 5/9/20 Closed to Public

In [2]:
import numpy as np
import pandas as pd
import plotly.express as px
import matplotlib.pyplot as plt
import datetime
import plotly.graph_objects as go

In [3]:
eat = pd.read_excel("SharkData.xlsx", sheet_name = 0)
targets = pd.read_excel("SharkData.xlsx", sheet_name = 1)
drops = pd.read_excel("SharkData.xlsx", sheet_name = 2)
other_factors = pd.read_excel("SharkData.xlsx", sheet_name = 3)

Cleaning for each each Dataframe

In [4]:
eat = eat.iloc[1:,:-1]
targets = targets.iloc[1:,:-1]
drops = drops.iloc[1:,:-1]
eat.rename(columns = {"Unnamed: 14":'Etc. Comments', "Pieces Eaten": "Date"}, inplace = True)
targets.rename(columns = {"Targets": "Date"}, inplace = True)
drops.rename(columns = {"Drops": "Date"}, inplace = True)

#get rid of null values at end of dataset
eat = eat.head(582)
targets = targets.head(582)
drops = drops.head(582)

# Change date to just date format, not datetime
eat['Date'] = pd.to_datetime(eat['Date']).dt.date
targets['Date'] = pd.to_datetime(targets['Date']).dt.date
drops['Date'] = pd.to_datetime(drops['Date']).dt.date


eat.head()

,Date,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,GR3,GR4,GR5,Total:,Etc. Comments
1,2017-12-05,0.0,5.0,3.0,6.0,5.0,4.0,4.0,0.0,0.0,2.0,3.0,1.0,33.0,0
2,2017-12-07,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0
3,2017-12-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,1.0,0.0,6.0,0
4,2017-12-10,5.0,1.0,1.0,3.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0
5,2017-12-12,2.0,2.0,0.0,5.0,2.0,4.0,5.0,0.0,2.0,3.0,2.0,0.0,27.0,0

In [5]:
targets.head()

,Date,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,GR3,GR4,GR5,Total:
1,2017-12-05,3.0,0.0,4.0,3.0,0.0,2.0,2.0,1.0,1.0,3.0,3.0,0.0,22.0
2,2017-12-07,4.0,5.0,2.0,2.0,5.0,3.0,5.0,0.0,0.0,2.0,2.0,0.0,30.0
3,2017-12-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,1.0,0.0,3.0,8.0
4,2017-12-10,4.0,7.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0
5,2017-12-12,3.0,1.0,3.0,2.0,4.0,1.0,1.0,1.0,1.0,5.0,1.0,3.0,26.0

In [6]:
drops.head()

,Date,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,GR3,GR4,GR5,Total:
1,2017-12-05,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,3.0
2,2017-12-07,0.0,1.0,1.0,2.0,1.0,1.0,2.0,0.0,0.0,2.0,0.0,0.0,10.0
3,2017-12-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,2017-12-10,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
5,2017-12-12,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3.0

Add the temperature to each Dataframe

In [7]:
other_factors['Temperature'].count()

582

In [8]:
eat['Temperature'] = other_factors['Temperature'].values
targets['Temperature'] = other_factors['Temperature'].values
drops['Temperature'] = other_factors['Temperature'].values

In [9]:
eat

,Date,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,GR3,GR4,GR5,Total:,Etc. Comments,Temperature
1,2017-12-05,0.0,5.0,3.0,6.0,5.0,4.0,4.0,0.0,0.0,2.0,3.0,1.0,33.0,0,73.2
2,2017-12-07,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0,73.2
3,2017-12-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,3.0,1.0,0.0,6.0,0,73.6
4,2017-12-10,5.0,1.0,1.0,3.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0,73.6
5,2017-12-12,2.0,2.0,0.0,5.0,2.0,4.0,5.0,0.0,2.0,3.0,2.0,0.0,27.0,0,73.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,2020-09-22,6.0,0.0,1.0,2.0,6.0,0.0,4.0,1.0,0.0,0.0,5.0,1.0,26.0,0,75.6
579,2020-09-24,0.0,9.0,0.0,7.0,5.0,5.0,7.0,0.0,1.0,2.0,2.0,6.0,44.0,0,75.6
580,2020-09-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,2.0,3.0,3.0,12.0,0,75.0
581,2020-09-27,5.0,6.0,3.0,6.0,4.0,6.0,3.0,0.0,0.0,0.0,0.0,0.0,33.0,0,75.6
582,2020-09-29,10.0,3.0,1.0,1.0,4.0,2.0,7.0,4.0,4.0,0.0,2.0,0.0,38.0,0,75.4

Divide data according to Light Training vs Non-Light Training
-Light training starts on Row 42

In [10]:
eat_no_training = eat.head(41)
eat_training = eat[42:582]
targets_no_training = targets.head(41)
targets_training = targets[42:582]
drops_no_training = drops.head(41)
drops_training = drops[42:582]

In [11]:
drops_training

,Date,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,GR3,GR4,GR5,Total:,Temperature
43,2018-02-17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74.0
44,2018-02-18,1.0,2.0,1.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,73.4
45,2018-02-20,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,7.0,73.8
46,2018-02-22,0.0,0.0,1.0,0.0,1.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,6.0,72.8
47,2018-02-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,73.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,2020-09-22,0.0,0.0,1.0,4.0,0.0,2.0,2.0,0.0,0.0,0.0,1.0,0.0,10.0,75.6
579,2020-09-24,0.0,0.0,0.0,3.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,7.0,75.6
580,2020-09-26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,75.0
581,2020-09-27,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,75.6
582,2020-09-29,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0,75.4

I am going to seperate the data into three different groups based on Pre-covid(1-470), covid(471-499), post_covid(500-582)

In [12]:
eat_pre = eat[1:470]
eat_covid = eat[471:499]
eat_post = eat[500:582]
targets_pre = targets[1:470]
targets_covid = targets[471:499]
targets_post = targets[500:582]
drops_pre = drops[1:470]
drops_covid = drops[471:499]
drops_post = drops[500:582]