In [2]:
import numpy as np
import pandas as pd
import plotly.express as px

In [7]:
eat = pd.read_excel("SharkData.xlsx", sheet_name = 0)
targets = pd.read_excel("SharkData.xlsx", sheet_name = 1)
drops = pd.read_excel("SharkData.xlsx", sheet_name = 2)
other_factors = pd.read_excel("SharkData.xlsx", sheet_name = 3)

Cleaning

In [30]:
eat = eat.iloc[1:,:-1]
eat.rename(columns = {"Unnamed: 14":'Etc. Comments'}, inplace = True)

In [31]:
eat.head()

,Pieces Eaten,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,GR3,GR4,GR5,Total:,Etc. Comments
1,2017-12-05 00:00:00,0.0,5.0,3.0,6.0,5.0,4.0,4.0,0.0,0.0,2.0,3.0,1.0,33.0,NaN
2,2017-12-07 00:00:00,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,NaN
3,2017-12-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,3.0,1.0,0.0,6.0,NaN
4,2017-12-10 00:00:00,5.0,1.0,1.0,3.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,14.0,NaN
5,2017-12-12 00:00:00,2.0,2.0,0.0,5.0,2.0,4.0,5.0,0.0,2.0,3.0,2.0,0.0,27.0,NaN

# 
Look at means of Individual sharks, then look at means of individual species

In [48]:
# Individual mean number of pieces eaten
All_Sharks = eat[['Ross', 'Chandler','BT1','BT2','BT3','BT4','BT5','GR1','GR2','GR3','GR4', 'GR5']]
All_mean = All_Sharks.mean()
All_mean

Ross        3.552273
Chandler    2.881549
BT1         2.043379
BT2         2.858447
BT3         2.349315
BT4         2.789954
BT5         3.075688
GR1         1.345538
GR2         1.352403
GR3         1.858124
GR4         1.601831
GR5         1.734554
dtype: float64

In [51]:
# Mean of Ross and Chandler
Sandbar = eat['Ross'] + eat['Chandler']
Sandbar.mean()

6.439635535307517

In [52]:
# Mean of BT
BT = eat['BT1'] + eat['BT2'] + eat['BT3'] + eat['BT4'] + eat['BT5']
BT.mean()

13.128440366972477

In [53]:
# Mean of GR
GR = eat['GR1'] + eat['GR2'] + eat['GR3'] + eat['GR4'] + eat['GR5']
GR.mean()

7.892448512585812