In [52]:
# Import Packages
import pandas as pd
from patsy import dmatrices
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import datetime
from statsmodels.tsa.api import VAR
import matplotlib.pyplot as plt

In [53]:
# Read in shark data
eat = pd.read_excel("SharkData.xlsx", sheet_name = 0)
targets = pd.read_excel("SharkData.xlsx", sheet_name = 1)
drops = pd.read_excel("SharkData.xlsx", sheet_name = 2)
other_factors = pd.read_excel("SharkData.xlsx", sheet_name = 3)

# Data Cleaning

In [54]:
# Clean eating dataset
eat = eat.iloc[1:,:-1]
eat.rename(columns = {"Unnamed: 14":'Etc. Comments', "Pieces Eaten": "Date", 'Total: ' : 'Total'}, inplace = True)

#get rid of null values at end of dataset
eat = eat.head(582)

# Change date to just date format, not datetime
eat['Date'] = pd.to_datetime(eat['Date']).dt.date



eat.reset_index(drop=True,inplace = True)
eat.head()

,Date,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,GR3,GR4,GR5,Total,Etc. Comments
0,2017-12-05,0.0,5.0,3.0,6.0,5.0,4.0,4.0,0.0,0.0,2.0,3.0,1.0,33.0,NaN
1,2017-12-07,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,NaN
2,2017-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,3.0,1.0,0.0,6.0,NaN
3,2017-12-10,5.0,1.0,1.0,3.0,2.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,14.0,NaN
4,2017-12-12,2.0,2.0,0.0,5.0,2.0,4.0,5.0,0.0,2.0,3.0,2.0,0.0,27.0,NaN

In [55]:
# Clean Drops Dataset
drops = drops.iloc[1:,:-1]
drops['Drops'] = pd.to_datetime(drops['Drops']).dt.date
drops.rename(columns = {"Drops" : "Date", "Total: ":"Total"}, inplace = True)
drops.reset_index(drop=True,inplace = True)
drops.tail()

,Date,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,GR3,GR4,GR5,Total
577,2020-09-22,0.0,0.0,1.0,4.0,0.0,2.0,2.0,0.0,0.0,0.0,1.0,0.0,10.0
578,2020-09-24,0.0,0.0,0.0,3.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,7.0
579,2020-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0,1.0
580,2020-09-27,0.0,0.0,2.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,3.0
581,2020-09-29,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.0

In [56]:
# Clean Targets Dataset
targets = targets.iloc[1:,:-1]
targets.rename(columns = {"Unnamed: 14":'Etc. Comments', "Targets": "Date", "Total: ": "Total"}, inplace = True)

#get rid of null values at end of dataset
targets = targets.head(582)

# Change date to just date format, not datetime
targets['Date'] = pd.to_datetime(targets['Date']).dt.date

targets.reset_index(drop=True,inplace = True)
targets.tail()

,Date,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,GR3,GR4,GR5,Total
577,2020-09-22,6.0,1.0,4.0,6.0,5.0,4.0,7.0,2.0,1.0,5.0,4.0,1.0,46.0
578,2020-09-24,8.0,18.0,2.0,9.0,10.0,10.0,11.0,5.0,6.0,3.0,7.0,9.0,98.0
579,2020-09-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,2.0,3.0,5.0,8.0,24.0
580,2020-09-27,10.0,19.0,9.0,10.0,8.0,16.0,3.0,NaN,NaN,NaN,NaN,NaN,75.0
581,2020-09-29,15.0,5.0,6.0,6.0,4.0,4.0,7.0,4.0,1.0,4.0,4.0,1.0,61.0

# Other Factors Data Cleaning and Dummy Variable Creation for Foods

In [57]:
dummy_factors = other_factors[['Saury', 'Blue Runner',
                'Squid', 'Mackerel', 'Herring', 'Sardine',
                'Mazuri Vitamins', 'Garlic', 'Salmon', 'Bonito', 'Bluefish', 'Mahi',
                    'Goggle Eye', 'Humbolt Squid']]
other_dummies = other_factors[['BT/SB Location (1-6)','GR Location (1-6)']]
other_dummies.rename(columns= {"BT/SB Location (1-6)": "BT_SB_Location", "GR Location (1-6)": "GR_Location"}, inplace = True)
for i in dummy_factors:
    dummy_factors[i] = dummy_factors[i].fillna(0)
dummy_factors.rename(columns = {"Blue Runner": "Blue_Runner", "Mazuri Vitamins": "Mazuri_Vitamins", 
                               "Goggle Eye": "Goggle_Eye", "Humbolt Squid": "Humbolt_Squid"}, inplace = True)

/home/sport10/.local/lib/python3.8/site-packages/pandas/core/frame.py:4295: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-57-456bd9ea25b4>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dummy_factors[i] = dummy_factors[i].fillna(0)

# Combine Datasets to get all factors to perform regression on

In [58]:
# Add seasons variables
def season_of_date(date):
    date = pd.to_datetime(date)
    year = str(date.year)
    seasons = {'spring': pd.date_range(start=year+'/03/21', end=year+'/06/20'),
               'summer': pd.date_range(start=year+'/06/21', end=year+'/09/22'),
               'fall': pd.date_range(start=year+'/09/23', end=year+'/12/20')}
    if date in seasons['spring']:
        return 'spring'
    if date in seasons['summer']:
        return 'summer'
    if date in seasons['fall']:
        return 'fall'
    else:
        return 'winter'

In [59]:
eat_summer = eat[eat.Date.map(season_of_date)=="summer"]
eat_summer['summer'] = 1
eat_summer['fall'] = 0
eat_summer['spring'] = 0
eat_fall = eat[eat.Date.map(season_of_date)=="fall"]
eat_fall['summer'] = 0
eat_fall['fall'] = 1
eat_fall['spring'] = 0
eat_winter = eat[eat.Date.map(season_of_date)=="winter"]
eat_winter['summer'] = 0
eat_winter['fall'] = 0
eat_winter['spring'] = 0
eat_spring = eat[eat.Date.map(season_of_date)=="spring"]
eat_spring['summer'] = 0
eat_spring['fall'] = 0
eat_spring['spring'] = 1

<ipython-input-59-430957c61749>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_summer['summer'] = 1
<ipython-input-59-430957c61749>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_summer['fall'] = 0
<ipython-input-59-430957c61749>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_summer['spring'] = 0
<ipython-input-59-430957c61749>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_fall['summer'] = 0
<ipython-input-59-430957c61749>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_fall['fall'] = 1
<ipython-input-59-430957c61749>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_fall['spring'] = 0
<ipython-input-59-430957c61749>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_winter['summer'] = 0
<ipython-input-59-430957c61749>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_winter['fall'] = 0
<ipython-input-59-430957c61749>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_winter['spring'] = 0
<ipython-input-59-430957c61749>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_spring['summer'] = 0
<ipython-input-59-430957c61749>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_spring['fall'] = 0
<ipython-input-59-430957c61749>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eat_spring['spring'] = 1

In [60]:
eat_all_seasons = pd.concat([eat_summer,eat_fall,eat_winter,eat_spring])
eat_all_seasons_sort = eat_all_seasons.sort_values(by=["Date"])
eat_season_vars = eat_all_seasons_sort[['summer', 'fall', 'spring']]

In [61]:
drops_summer = drops[eat.Date.map(season_of_date)=="summer"]
drops_summer['summer'] = 1
drops_summer['fall'] = 0
drops_summer['spring'] = 0
drops_fall = drops[eat.Date.map(season_of_date)=="fall"]
drops_fall['summer'] = 0
drops_fall['fall'] = 1
drops_fall['spring'] = 0
drops_winter = drops[eat.Date.map(season_of_date)=="winter"]
drops_winter['summer'] = 0
drops_winter['fall'] = 0
drops_winter['spring'] = 0
drops_spring = drops[eat.Date.map(season_of_date)=="spring"]
drops_spring['summer'] = 0
drops_spring['fall'] = 0
drops_spring['spring'] = 1

<ipython-input-61-8f5950c59aad>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drops_summer['summer'] = 1
<ipython-input-61-8f5950c59aad>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drops_summer['fall'] = 0
<ipython-input-61-8f5950c59aad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drops_summer['spring'] = 0
<ipython-input-61-8f5950c59aad>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drops_fall['summer'] = 0
<ipython-input-61-8f5950c59aad>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drops_fall['fall'] = 1
<ipython-input-61-8f5950c59aad>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drops_fall['spring'] = 0
<ipython-input-61-8f5950c59aad>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drops_winter['summer'] = 0
<ipython-input-61-8f5950c59aad>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drops_winter['fall'] = 0
<ipython-input-61-8f5950c59aad>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drops_winter['spring'] = 0
<ipython-input-61-8f5950c59aad>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drops_spring['summer'] = 0
<ipython-input-61-8f5950c59aad>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drops_spring['fall'] = 0
<ipython-input-61-8f5950c59aad>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  drops_spring['spring'] = 1

In [62]:
drops_all_seasons = pd.concat([drops_summer,drops_fall,drops_winter,drops_spring])
drops_all_seasons_sort = drops_all_seasons.sort_values(by=["Date"])
drops_season_vars = drops_all_seasons_sort[['summer', 'fall', 'spring']]

In [63]:
targets_summer = targets[eat.Date.map(season_of_date)=="summer"]
targets_summer['summer'] = 1
targets_summer['fall'] = 0
targets_summer['spring'] = 0
targets_fall = targets[eat.Date.map(season_of_date)=="fall"]
targets_fall['summer'] = 0
targets_fall['fall'] = 1
targets_fall['spring'] = 0
targets_winter = targets[eat.Date.map(season_of_date)=="winter"]
targets_winter['summer'] = 0
targets_winter['fall'] = 0
targets_winter['spring'] = 0
targets_spring = targets[eat.Date.map(season_of_date)=="spring"]
targets_spring['summer'] = 0
targets_spring['fall'] = 0
targets_spring['spring'] = 1

<ipython-input-63-3a678d7c0e93>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets_summer['summer'] = 1
<ipython-input-63-3a678d7c0e93>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets_summer['fall'] = 0
<ipython-input-63-3a678d7c0e93>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets_summer['spring'] = 0
<ipython-input-63-3a678d7c0e93>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets_fall['summer'] = 0
<ipython-input-63-3a678d7c0e93>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets_fall['fall'] = 1
<ipython-input-63-3a678d7c0e93>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets_fall['spring'] = 0
<ipython-input-63-3a678d7c0e93>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets_winter['summer'] = 0
<ipython-input-63-3a678d7c0e93>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets_winter['fall'] = 0
<ipython-input-63-3a678d7c0e93>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets_winter['spring'] = 0
<ipython-input-63-3a678d7c0e93>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets_spring['summer'] = 0
<ipython-input-63-3a678d7c0e93>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets_spring['fall'] = 0
<ipython-input-63-3a678d7c0e93>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  targets_spring['spring'] = 1

In [64]:
targets_all_seasons = pd.concat([targets_summer,targets_fall,targets_winter,targets_spring])
targets_all_seasons_sort = targets_all_seasons.sort_values(by=["Date"])
targets_season_vars = targets_all_seasons_sort[['summer', 'fall', 'spring']]

In [65]:
# combine eat data
eat_concat1 = pd.concat([eat,dummy_factors,other_dummies, eat_season_vars], axis = 1)
eat_concat = pd.concat([eat_concat1, other_factors["Temperature"]], axis = 1)
eat_concat.head()

,Date,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,...,Bluefish,Mahi,Goggle_Eye,Humbolt_Squid,BT_SB_Location,GR_Location,summer,fall,spring,Temperature
0,2017-12-05,0.0,5.0,3.0,6.0,5.0,4.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,3.0,0,1,0,73.2
1,2017-12-07,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,3.0,0,1,0,73.2
2,2017-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,...,0.0,0.0,0.0,0.0,NaN,3.0,0,1,0,73.6
3,2017-12-10,5.0,1.0,1.0,3.0,2.0,2.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,NaN,0,1,0,73.6
4,2017-12-12,2.0,2.0,0.0,5.0,2.0,4.0,5.0,0.0,2.0,...,0.0,0.0,0.0,0.0,1.0,3.0,0,1,0,73.4

In [66]:
GroupFeed = []
for row in drops.index:
    if drops.iloc[row,:].isna().sum() > 0:
        GroupFeed.append(0)
    else:
        GroupFeed.append(1)
GroupFeed

#you could do something like this to add it to a dataframe
#eat["GroupFeed"] = GroupFeed

[1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 1,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 1,
 1,
 1,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1,
 1,
 0,
 0,
 1]

In [67]:
# Add eat variable for Covid shut down
start_date = pd.to_datetime('03-14-2020')
end_date = pd.to_datetime('05-09-2020')
conditions = [ (eat_concat['Date'] >= start_date) & (eat_concat['Date'] <= end_date),
              (eat_concat['Date'] < start_date) | (eat_concat['Date'] > end_date)]
values = [1, 0]
eat_concat["covid"] = np.select(conditions, values)

In [68]:
# Add eat variable for light training
light_start = pd.to_datetime('02-15-2018')
conditions_light = [ (eat_concat['Date'] >= light_start), (eat_concat['Date'] < light_start)]
values_light = [1, 0]
eat_concat["light_training"] = np.select(conditions_light, values_light)

In [69]:
# combine drops data
drops_concat1 = pd.concat([drops,dummy_factors,other_dummies, drops_season_vars], axis = 1)
drops_concat = pd.concat([drops_concat1, other_factors["Temperature"]], axis = 1)
drops_concat.head()

,Date,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,...,Bluefish,Mahi,Goggle_Eye,Humbolt_Squid,BT_SB_Location,GR_Location,summer,fall,spring,Temperature
0,2017-12-05,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,3.0,0,1,0,73.2
1,2017-12-07,0.0,1.0,1.0,2.0,1.0,1.0,2.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,3.0,0,1,0,73.2
2,2017-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,...,0.0,0.0,0.0,0.0,NaN,3.0,0,1,0,73.6
3,2017-12-10,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,NaN,0,1,0,73.6
4,2017-12-12,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,3.0,0,1,0,73.4

In [70]:
# Add drop variable for Covid shut down
start_date = pd.to_datetime('03-14-2020')
end_date = pd.to_datetime('05-09-2020')
conditions = [ (drops_concat['Date'] >= start_date) & (drops_concat['Date'] <= end_date),
              (drops_concat['Date'] < start_date) | (drops_concat['Date'] > end_date)]
values = [1, 0]
drops_concat["covid"] = np.select(conditions, values)

In [71]:
# Add drop variable for light training
light_start = pd.to_datetime('02-15-2018')
conditions_light = [ (drops_concat['Date'] >= light_start), (drops_concat['Date'] < light_start)]
values_light = [1, 0]
drops_concat["light_training"] = np.select(conditions_light, values_light)

In [72]:
# combine Target data
targets_concat1 = pd.concat([targets,dummy_factors,other_dummies, targets_season_vars], axis = 1)
targets_concat = pd.concat([targets_concat1, other_factors["Temperature"]], axis = 1)
targets_concat.head()

,Date,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,...,Bluefish,Mahi,Goggle_Eye,Humbolt_Squid,BT_SB_Location,GR_Location,summer,fall,spring,Temperature
0,2017-12-05,3.0,0.0,4.0,3.0,0.0,2.0,2.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,3.0,0,1,0,73.2
1,2017-12-07,4.0,5.0,2.0,2.0,5.0,3.0,5.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,3.0,0,1,0,73.2
2,2017-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,3.0,...,0.0,0.0,0.0,0.0,NaN,3.0,0,1,0,73.6
3,2017-12-10,4.0,7.0,0.0,2.0,2.0,0.0,0.0,NaN,NaN,...,0.0,0.0,0.0,0.0,1.0,NaN,0,1,0,73.6
4,2017-12-12,3.0,1.0,3.0,2.0,4.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,3.0,0,1,0,73.4

In [73]:
# Add target variable for Covid shut down
start_date = pd.to_datetime('03-14-2020')
end_date = pd.to_datetime('05-09-2020')
conditions = [ (targets_concat['Date'] >= start_date) & (targets_concat['Date'] <= end_date),
              (targets_concat['Date'] < start_date) | (targets_concat['Date'] > end_date)]
values = [1, 0]
targets_concat["covid"] = np.select(conditions, values)

In [74]:
# Add target variable for light training
light_start = pd.to_datetime('02-15-2018')
conditions_light = [ (targets_concat['Date'] >= light_start), (targets_concat['Date'] < light_start)]
values_light = [1, 0]
targets_concat["light_training"] = np.select(conditions_light, values_light)

# Subset Creation

In [75]:

# All SS Subset
All_SS = eat_concat[['Ross', 'Chandler']]

# All BT Subset
All_BT = eat_concat[['BT1', 'BT2', 'BT3', 'BT4', 'BT5']]

# All GR Subset
All_GR = eat_concat[['GR1', 'GR2', 'GR3', 'GR4', 'GR5']]

# Male Subset
Male = eat_concat[["BT1","BT5","GR1","Ross","Chandler"]]

# Female Subset
female = eat_concat[["BT2","BT3","BT4","GR2","GR3","GR4","GR5"]]

# Append all subsets to original datasets
# eat dataset
eat_concat["All_GR"] = eat['GR1'] + eat['GR2'] + eat['GR3'] + eat['GR4'] + eat['GR5']
eat_concat["All_BT"] = eat['BT1'] + eat['BT2'] + eat['BT3'] + eat['BT4'] + eat['BT5']
eat_concat["All_SS"] = eat['Ross'] + eat['Chandler']
eat_concat["male"] = eat[["BT1","BT5","GR1","Ross","Chandler"]].sum(axis = 1)
eat_concat["female"] = eat[["BT2","BT3","BT4","GR2","GR3","GR4","GR5"]].sum(axis = 1)

# drop dataset
drops_concat["All_GR"] = drops['GR1'] + drops['GR2'] + drops['GR3'] + drops['GR4'] + drops['GR5']
drops_concat["All_BT"] = drops['BT1'] + drops['BT2'] + drops['BT3'] + drops['BT4'] + drops['BT5']
drops_concat["All_SS"] = drops['Ross'] + drops['Chandler']
drops_concat["male"] = drops[["BT1","BT5","GR1","Ross","Chandler"]].sum(axis = 1)
drops_concat["female"] = drops[["BT2","BT3","BT4","GR2","GR3","GR4","GR5"]].sum(axis = 1)

# target dataset
targets_concat["All_GR"] = targets['GR1'] + targets['GR2'] + targets['GR3'] + targets['GR4'] + targets['GR5']
targets_concat["All_BT"] = targets['BT1'] + targets['BT2'] + targets['BT3'] + targets['BT4'] + targets['BT5']
targets_concat["All_SS"] = targets['Ross'] + targets['Chandler']
targets_concat["male"] = targets[["BT1","BT5","GR1","Ross","Chandler"]].sum(axis = 1)
targets_concat["female"] = targets[["BT2","BT3","BT4","GR2","GR3","GR4","GR5"]].sum(axis = 1)

# Create Tables for Poisson Regression Time Series For Pieces Eaten For All Sharks

In [76]:
# create additional time variables for eating
eat_concat['Date'] = pd.to_datetime(eat_concat['Date'])
eat_concat['Day_of_week'] = pd.to_datetime(eat_concat['Date']).dt.dayofweek
eat_concat['Month'] = pd.to_datetime(eat_concat['Date']).dt.month
eat_concat['Day'] = pd.to_datetime(eat_concat['Date']).dt.day
eat_concat.head()

,Date,Ross,Chandler,BT1,BT2,BT3,BT4,BT5,GR1,GR2,...,covid,light_training,All_GR,All_BT,All_SS,male,female,Day_of_week,Month,Day
0,2017-12-05,0.0,5.0,3.0,6.0,5.0,4.0,4.0,0.0,0.0,...,0,0,6.0,22.0,5.0,12.0,21.0,1,12,5
1,2017-12-07,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.0,2.0,1.0,1.0,2.0,3,12,7
2,2017-12-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0.0,...,0,0,6.0,NaN,NaN,2.0,4.0,5,12,9
3,2017-12-10,5.0,1.0,1.0,3.0,2.0,2.0,0.0,NaN,NaN,...,0,0,NaN,8.0,6.0,7.0,7.0,6,12,10
4,2017-12-12,2.0,2.0,0.0,5.0,2.0,4.0,5.0,0.0,2.0,...,0,0,7.0,16.0,4.0,9.0,18.0,1,12,12

In [77]:
# Create training and testing datasets
mask = np.random.rand(len(eat_concat)) < 0.8
eat_train = eat_concat[mask]
eat_test = eat_concat[~mask]
print('Training data set length='+str(len(eat_train)))
print('Testing data set length='+str(len(eat_test)))

Training data set length=474
Testing data set length=108

In [78]:
eat_concat.iloc[:,13:-8].drop(columns = "Etc. Comments")

,Total,Saury,Blue_Runner,Squid,Mackerel,Herring,Sardine,Mazuri_Vitamins,Garlic,Salmon,...,Goggle_Eye,Humbolt_Squid,BT_SB_Location,GR_Location,summer,fall,spring,Temperature,covid,light_training
0,33.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,3.0,0,1,0,73.2,0,0
1,3.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,3.0,0,1,0,73.2,0,0
2,6.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,NaN,3.0,0,1,0,73.6,0,0
3,14.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,NaN,0,1,0,73.6,0,0
4,27.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,3.0,0,1,0,73.4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,26.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,2.0,1.0,1,0,0,75.6,0,1
578,44.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,4.0,2.0,0,1,0,75.6,0,1
579,12.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,3.0,0,1,0,75.0,0,1
580,33.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,3.0,NaN,0,1,0,75.6,0,1
581,38.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,1.0,4.0,0,1,0,75.4,0,1

In [80]:
# import for Granger's Causality Test
from statsmodels.tsa.stattools import grangercausalitytests
granger_test = sm.tsa.stattools.grangercausalitytests(eat_concat.iloc[:,13:-8].drop(columns = "Etc. Comments"), maxlag=2, verbose=True)
granger_test

ValueError: x contains NaN or inf values.

In [81]:
nobs = 20
df_train, df_test = eat_concat.iloc[:,14:-8].drop(columns = "Etc. Comments")[0:-nobs], eat_concat.iloc[:,14:-8].drop(columns = "Etc. Comments")[-nobs:]

In [89]:
# Augmented Dickey-Fuller Test (ADF Test)/unit root test
from statsmodels.tsa.stattools import adfuller
def adf_test(ts, signif=0.05):
    dftest = adfuller(ts, autolag='AIC')
    adf = pd.Series(dftest[0:4], index=['Test Statistic','p-value','# Lags','# Observations'])
    for key,value in dftest[4].items():
        adf['Critical Value (%s)'%key] = value
    print (adf)
    
    p = adf['p-value']
    if p <= signif:
        print(ts,f" Series is Stationary")
    else:
        print(ts,f" Series is Non-Stationary")
#apply adf test on the series
for i in df_train.columns:
    adf_test(df_train[i])

Test Statistic         -7.501681e+00
p-value                 4.237286e-11
# Lags                  7.000000e+00
# Observations          5.540000e+02
Critical Value (1%)    -3.442209e+00
Critical Value (5%)    -2.866771e+00
Critical Value (10%)   -2.569556e+00
dtype: float64
0      1.0
1      0.0
2      0.0
3      0.0
4      1.0
      ...
557    1.0
558    0.0
559    0.0
560    0.0
561    1.0
Name: Saury, Length: 562, dtype: float64  Series is Stationary
Test Statistic           -4.085730
p-value                   0.001022
# Lags                    8.000000
# Observations          553.000000
Critical Value (1%)      -3.442230
Critical Value (5%)      -2.866781
Critical Value (10%)     -2.569561
dtype: float64
0      0.0
1      1.0
2      0.0
3      0.0
4      0.0
      ...
557    0.0
558    1.0
559    0.0
560    0.0
561    0.0
Name: Blue_Runner, Length: 562, dtype: float64  Series is Stationary
Test Statistic           -4.899331
p-value                   0.000035
# Lags                   11.000000
# Observations          550.000000
Critical Value (1%)      -3.442296
Critical Value (5%)      -2.866809
Critical Value (10%)     -2.569576
dtype: float64
0      0.0
1      1.0
2      0.0
3      0.0
4      0.0
      ...
557    0.0
558    1.0
559    0.0
560    0.0
561    0.0
Name: Squid, Length: 562, dtype: float64  Series is Stationary
Test Statistic           -5.000221
p-value                   0.000022
# Lags                   10.000000
# Observations          551.000000
Critical Value (1%)      -3.442274
Critical Value (5%)      -2.866800
Critical Value (10%)     -2.569571
dtype: float64
0      0.0
1      1.0
2      0.0
3      1.0
4      0.0
      ...
557    0.0
558    0.0
559    0.0
560    1.0
561    0.0
Name: Mackerel, Length: 562, dtype: float64  Series is Stationary
Test Statistic           -4.050261
p-value                   0.001169
# Lags                   15.000000
# Observations          546.000000
Critical Value (1%)      -3.442384
Critical Value (5%)      -2.866848
Critical Value (10%)     -2.569597
dtype: float64
0      0.0
1      0.0
2      1.0
3      0.0
4      0.0
      ...
557    0.0
558    0.0
559    1.0
560    0.0
561    0.0
Name: Herring, Length: 562, dtype: float64  Series is Stationary
Test Statistic         -5.724118e+00
p-value                 6.833677e-07
# Lags                  7.000000e+00
# Observations          5.540000e+02
Critical Value (1%)    -3.442209e+00
Critical Value (5%)    -2.866771e+00
Critical Value (10%)   -2.569556e+00
dtype: float64
0      0.0
1      0.0
2      0.0
3      1.0
4      0.0
      ...
557    0.0
558    0.0
559    0.0
560    1.0
561    0.0
Name: Sardine, Length: 562, dtype: float64  Series is Stationary
Test Statistic         -6.080132e+00
p-value                 1.097254e-07
# Lags                  7.000000e+00
# Observations          5.540000e+02
Critical Value (1%)    -3.442209e+00
Critical Value (5%)    -2.866771e+00
Critical Value (10%)   -2.569556e+00
dtype: float64
0      1.0
1      1.0
2      0.0
3      0.0
4      1.0
      ...
557    1.0
558    1.0
559    0.0
560    0.0
561    1.0
Name: Mazuri_Vitamins, Length: 562, dtype: float64  Series is Stationary
Test Statistic           -4.696674
p-value                   0.000085
# Lags                   15.000000
# Observations          546.000000
Critical Value (1%)      -3.442384
Critical Value (5%)      -2.866848
Critical Value (10%)     -2.569597
dtype: float64
0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
557    1.0
558    1.0
559    0.0
560    1.0
561    1.0
Name: Garlic, Length: 562, dtype: float64  Series is Stationary
Test Statistic           -2.399219
p-value                   0.141957
# Lags                   15.000000
# Observations          546.000000
Critical Value (1%)      -3.442384
Critical Value (5%)      -2.866848
Critical Value (10%)     -2.569597
dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
557    0.0
558    0.0
559    0.0
560    0.0
561    0.0
Name: Salmon, Length: 562, dtype: float64  Series is Non-Stationary
Test Statistic           -4.297277
p-value                   0.000449
# Lags                   15.000000
# Observations          546.000000
Critical Value (1%)      -3.442384
Critical Value (5%)      -2.866848
Critical Value (10%)     -2.569597
dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
557    0.0
558    0.0
559    0.0
560    0.0
561    0.0
Name: Bonito, Length: 562, dtype: float64  Series is Stationary
Test Statistic          -24.031862
p-value                   0.000000
# Lags                    0.000000
# Observations          561.000000
Critical Value (1%)      -3.442060
Critical Value (5%)      -2.866706
Critical Value (10%)     -2.569521
dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
557    0.0
558    0.0
559    0.0
560    0.0
561    0.0
Name: Bluefish, Length: 562, dtype: float64  Series is Stationary
Test Statistic           -4.691592
p-value                   0.000087
# Lags                   15.000000
# Observations          546.000000
Critical Value (1%)      -3.442384
Critical Value (5%)      -2.866848
Critical Value (10%)     -2.569597
dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
557    0.0
558    0.0
559    0.0
560    0.0
561    0.0
Name: Mahi, Length: 562, dtype: float64  Series is Stationary
Test Statistic           -3.799763
p-value                   0.002910
# Lags                   17.000000
# Observations          544.000000
Critical Value (1%)      -3.442428
Critical Value (5%)      -2.866868
Critical Value (10%)     -2.569607
dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
557    0.0
558    0.0
559    0.0
560    0.0
561    0.0
Name: Goggle_Eye, Length: 562, dtype: float64  Series is Stationary
Test Statistic           -4.108458
p-value                   0.000938
# Lags                   14.000000
# Observations          547.000000
Critical Value (1%)      -3.442361
Critical Value (5%)      -2.866838
Critical Value (10%)     -2.569592
dtype: float64
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
557    0.0
558    0.0
559    0.0
560    0.0
561    0.0
Name: Humbolt_Squid, Length: 562, dtype: float64  Series is Stationary

MissingDataError: exog contains inf or nans

In [84]:
df_train.columns

Index(['Saury', 'Blue_Runner', 'Squid', 'Mackerel', 'Herring', 'Sardine',
       'Mazuri_Vitamins', 'Garlic', 'Salmon', 'Bonito', 'Bluefish', 'Mahi',
       'Goggle_Eye', 'Humbolt_Squid', 'BT_SB_Location', 'GR_Location',
       'summer', 'fall', 'spring', 'Temperature', 'covid', 'light_training'],
      dtype='object')